<!DOCTYPE html>
<html>
<head>
    <title>Email Verification</title>
</head>
<body>
    <p>Hello {{name}},</p>
    <p>Please click the following link to verify your email:</p>
    <a href="{{verificationLink}}">Verify Email</a>
</body>
</html>