<!DOCTYPE html>
<html>
<head>
    <title>Reset password</title>
</head>
<body>
    <p>Please click the following link to reset your password:</p>
    <a href="{{resetPasswordLink}}">Reset password</a>
</body>
</html>